<header class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-6" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BloqTasks</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <p class="navbar-text">Gerenciamento de Tarefas e Projetos</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <h3 class="col-md-12">Cadastros</h3>
    <div class="col-md-3">
      <%= link_to 'Clientes', clients_path, class: 'btn btn-block btn-default' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Projetos', projects_path, class: 'btn btn-block btn-default' %>
    </div>
  </div>
</div>
