

<div class="container">
  <div class="row">
    <h4 class="col-md-12">Cadastros</h4>
    <div class="col-md-3">
      <%= link_to 'Clientes', clients_path, class: 'btn btn-block btn-info' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Projetos', projects_path, class: 'btn btn-block btn-info' %>
    </div>
  </div>
</div>
